li
{
	list-style: none;
	display: inline-block;
	font-family:"Gill Sans MT";
	background-color:white;
	margin-right:115px;
	margin-left:105px;
	font-size: 20px;
	text-align: center;
}

h1
{
	background-color: #E8CEBB;
	font-family: "Open Sans Ms";
	text-align: left;
	font-size: 20px; 
}

h2
{
	background-color: lightpink;
	font-family: "Open Sans Ms";
	text-align: center;
	font-size: 100px; 
}

a{
	text-decoration: none;
	color:black;
}
