li
{
	list-style: none;
	display: inline-block;
	font-family:"Gill Sans MT";
	background-color:white;
	margin-right:70px;
	margin-left:80px;
	font-size: 20px;
	text-align: center;
}

h1
{
	background-color: #E8CEBB;
	font-family: "Open Sans Ms";
	text-align: left;
	font-size: 20px; 
}

h2
{
	background-color: lightpink;
	font-family: "Open Sans Ms";
	text-align: center;
	font-size: 100px; 
}

a{
	text-decoration: none;
	color:black;
}

.right { 
	float:right; 
	margin:0 10px 0 20px;
	height:20px;
	width:20px; 
}

img {
width:300px;
height:150px;
margin-top: 25px;
margin-bottom: 20px;
}

p{
	color: #000;
	font-size:15px;
	font-style: "Gill Sans MT"

}

textarea{
	border-radius: 4px;
}

#beige{
	color: #E1BEA4;
}

#envoyercontact{
	border-radius: 4px;
	color: #B46B93;
	text-align: center;
	width: 100px;
	height: 30px;
}

#resetcontact{
	border-radius: 4px;
	color: #B46B93;
	text-align: center;
	width: 100px;
	height: 30px;
}
